@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fef7f2;
  width: 100% !important;
  overflow: auto;
  font-family: "Montserrat", sans-serif !important;
}

.container {
  max-width: 1200px !important;
  margin: auto !important;
}

h1 {
  font-size: 60px !important;
  font-family: "Montserrat", sans-serif !important;
  color: #2b1b12 !important;
}

p1{
  font-family: "Montserrat", sans-serif !important;
  font-weight: 650 !important;
  color: #4F3527;
}
h4{
  font-family: "Montserrat", sans-serif !important;
  font-weight: 650 !important;
  color: #4F3527;
}
p{
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important;
  font-size: 13px;
  color: #4F3527;
}
h2 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 42px !important; 
  font-weight: 800  !important; 
  line-height: 50px;
  color: #2B1B12;
}
h3 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 45px !important; 
  font-weight: 710  !important; 
  color: #4F3527;
}


.bg {
  background-color: #fef7f2;
}

.bg-dark {
  background-color: #ddc7bb;
}

.button-sm {
  background-color: #2b1b12;
  color: white;
  padding: 6px 14px;
  border-radius: 0.5rem;
  font-weight: 500;
  width: 100px;
  text-align: center;
}
.button-lg {
  background-color: #2b1b12 !important;
  color: white !important;
  padding: 10px 38px !important;
  border-radius: 0.5rem !important;
  font-weight: 500 !important;
  width: 150px;
  text-align: center;
}

.text-dark {
  color: #695346;
}

.servicecard{
  background-color: #DDC7BB !important;
  box-shadow: 1px 0px 40px #e5d8d8f7;
  display: flex;
  flex-direction: column;
  border-radius: 12px; 
  padding: 24px; 
  row-gap: 0.5rem; 
}