* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  color: #3a1e13;
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #ffffff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #5c4237;
  font-weight: 500;
}

.contact-container {
  text-align: center;
  padding: 32px 16px;
}
.subheading {
  font-size: 35px !important;
  margin-bottom: 32px;
  font-weight: 800 !important;
  line-height: 45px;
}

.contact-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact-container .subheading {
  font-size: 20px;
  margin-bottom: 32px;
}

.contact-options {
  margin-bottom: 32px;
}

.option-button {
  padding: 10px 24px;
  margin: 8px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #5c4237;
  cursor: pointer;
}

.contact-form {
  max-width: 650px;
  margin: 0 auto;
  color: #543e32;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-group {
  flex: 1;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  box-shadow: 1px 0px 40px #e5d8d8f7;
  color: #543e32;
  font-weight: 700;
  border-radius: 5px;
  background-color: #ddc7bb;
  font-size: 16px;
}

.contact-form input:focus-visible {
  outline: none !important;
}

.contact-form textarea,
.contact-form textarea::placeholder {
  color: #543e32 !important;
  overflow-y: none;
  height: 160px;
}

.contact-form textarea {
  box-shadow: 1px 0px 40px #e5d8d8f7;
  border: none !important;
}
.contact-form textarea:focus-visible {
  outline: none !important;
}

.contact-form textarea::-webkit-scrollbar {
  display: none;
}

.contact-form input::placeholder {
  color: #543e32 !important;
}
